{% comment %}for error handling{% endcomment %}

{% for field in form %}
  {% if field.errors %}
    {% for error in field.errors %}
      <span>{{ field.label_tag }}</span>
      <p style="font-size: 13px; text-align: right; color: red; display: inline;">*{{ error }}</p>
      <br>
      {% endfor %}
  {% endif %}
{% endfor %}

{% comment %}for handling non_field_errors{% endcomment %}

{% if form.non_field_errors %}
  {% for error in form.non_field_errors %}
    <p style="font-size: 13px; text-align: right; color: red;">*{{ error }}</p>
  {% endfor %}
{% endif %}

{% comment %}for success messages{% endcomment %}
{% if messages %}
  {% for message in messages %}
    {% if message.tags == 'success' %}
      <div class="success">
        <p>{{ message }}</p>
      </div>
    {% else %}
      <div class="errors">
        <p>{{ message }}</p>
      </div>
    {% endif %}
  {% endfor %}
{% endif %}